body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.rubber-button {
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  /* background-color: #ffcc00; */
  background-color: #00a9b5;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.rubber-button:hover {
  /* background-color: #ff9900; */
  background-color: #006269;
  transform: scale(1.05);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.rubber-button:active {
  background-color: #ff6600;
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.device {
  height: 600px;
  position: absolute;
  top: 700px;
  left: 200px;
}

.tamagotchi {
  margin: 50px;
}

.statusBars {
  margin: 50px;
}

.tamagotchis-images {
  max-width: 120px;
  max-height: 120px;
  margin: 8px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.tamagotchis-images:hover, .tamagotchi-selected {
  background: #e1e1e1;
  border: 2px solid red;
  transform: scale(1.2);
}

.label-form {
  min-width: 160px;
  font-size: 22px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  max-width: 200px; 
  margin-left: 16px;
}

.input-group {
  margin-bottom: 24px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group label {
  margin-right: 10px;
  font-weight: bold;
}

.styled-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.images-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  max-width: 190vh;
  background-color: #00a9b5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-form {
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center; 
}

.centered-content {
  text-align: center;
}

.hidden-message {
  display: none;
  color: red;
  margin-top: 10px;
}

.show-message {
  display: block;
}